.buscar{
	font-size: 10px;
	position: absolute;
	left:1000px;
	top:5px;
	padding: 5px;
}
.lupa{
	position: absolute;
	left: 110px;
}
.big{
	color: white;
    font-family: tahoma;
    position: absolute;
    top: 110px;
    left: 896px;
    font-size: 30px;

}
.abajo{
	background-color: #cccccc;
	max-width: 100%
}
.verde{
    border: 2px solid #66ff66;
    border-radius: 7px;
    color: #66ff66;
    padding: 6px 13px 6px 13px;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    position: absolute;
    top: 170px;
    left: 900px;
}
.imagenes{
	width: 230px;
	height: 270px;
	padding: 30px;

}
.pelicula{
	background-color: #d5bc4c;
	max-width: 100%;
}
.lista2{
	top: 220px;
    left: 1040px;
    position: absolute;
    color: white;
    font-size: 12px; 
}
.lista1{
	top: 202px;
    left: 900px;
    position: absolute;
    color: white;
    font-size: 14px;
}

ul{
	list-style: none;
}
.parrafo{
	top: 290px;
    left: 900px;
    position: absolute;
    color: white;
    font-size: 12px;
    font-size: 13px 	
}
.amarillo{
   top: 374px;
    left: 900px;
    position: absolute;
    color: white;
    font-size: 15px;
    padding: 15px;
    background-color:#ffcc66 ;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}
.naranjo{
	width: 170px;
   	top: 430px;
    left: 900px;
    position: absolute;
    color: white;
    font-size: 15px;
    padding: 15px;
    background-color: #e8953b;
    border-radius: 5px;
    text-align: center; 
    margin:0 auto;
}
h2{
color:gray;
}
h1{
 color: gray;
}
a{
	text-decoration: none;
	color:white;
}

.org{
	color:orange;
}
.naranjo2{
	width: 160px;
	height: 55px;
    color: white;
    font-size: 15px;
    padding: 15px;
    background-color: #e8953b;
    border-radius: 5px;
    text-align: center; 
}
.lorem h3{
	color:orange;
}
h4{
	color:black;
}
h5{
	color:gray;
}



